<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<!--<% if(session) {%>-->
    <!--<p>hi <%=session.user_uid%></p>-->

<!--<%} else{%>-->
    <!--<p> please login</p>-->
    <!--<%}%>-->

<% if(session.user_uid){ %>
<p>HI <%=session.user_uid%></p>

    <form action="/login/logout" method="get">
        <input type="submit" value="log out">
    </form>


<% } else{ %>
<p>else <%=session.user_uid%></p>

<h3>로그인</h3>
<form action="/login" method="post">
    <table>
        <tr>
            <td>id : </td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>password : </td>
            <td><input type="password" name="pw"></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인"></td>
        </tr>
    </table>
</form>
<% } %>


</body>
</html>