<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form action="/mail" method="post">
    <input type="text" name="email">
    <input type="password" name="pwd">
    <input type="submit" value="회원가입">
</form>

</body>
</html>
